{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block body %}

<nav id="mainNavbar" class="account navbar navbar-light navbar-expand-xl pt-1 px-0 fixed-top">
  <a href="../home/index" class="navbar-brand mt-2"><i class="icon-money-1 d-none d-lg-inline "></i>PERSONAL
    BUDGET</a>
</nav>

<section class="container-fluid px-0 mb-5 mb-lg-0">
  <div class="row align-items-center justify-content-center mt-0 mt-xl-0">

    <div class="col-md-6 order-1 order-md-1 px-0">

      <div class="row justify-content-center mx-0 mt-1">

        <div id="signUpForm" class="col-11 mx-1 col-sm-9 col-md-12 col-xl-8 mt-lg-0 mt-xl-5 px-1 px-sm-2">

          <h5 class="text-center mt-4 mb-5">Sign up successfully</h5>

          <p class="text-center">Success! Thank you for signing up.</p>
          <p class="text-center">Please check your email to activate your account.
          </p>

        </div>

      </div>
    </div>
    <div class="col-md-6 order-2 order-md-2 px-0 d-none d-xl-inline  ">
      <img id="mainImg" class="img-fluid rounded" src="/imgs/micheile12.jpg" alt="">

    </div>
  </div>
</section>

{% endblock %}