{% extends "base.html" %}

{% block title %}Add expense{% endblock %}

{% block body %}


<nav id="mainNavbar" class="add navbar navbar-light navbar-expand-xl pt-1 px-0 fixed-top">
    <a href="../mainmenu/index" class="navbar-brand"><i class="icon-money-1 d-none d-lg-inline"></i>PERSONAL BUDGET</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navLinks">
        <ul class="navbar-nav mt-3">
            <li class="nav-item">
                <a href="../mainmenu/index" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="../expense/index" class="nav-link">Add expense</a>
            </li>
            <li class="nav-item">
                <a href="../income/index" class="nav-link">Add income</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle caret-off" href="#" data-toggle="dropdown" role="button" id="submenu"
                    aria-expanded="false" aria-haspopup="true">Balance</a>

                <div class="dropdown-menu bg-transparent border-0 m-0 p-0" aria-labelledby="submenu">

                    <a class="dropdown-item " href="balance-current-month.php">Current month</a>
                    <a class="dropdown-item " href="balance-previous-month.php">Previous month</a>
                    <a class="dropdown-item " href="balance-current-year.php">Current year</a>
                    <a class="dropdown-item " href="#">Custom</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle caret-off" href="#" data-toggle="dropdown" role="button"
                    id="submenu1" aria-expanded="false" aria-haspopup="true">Settings</a>

                <div class="dropdown-menu bg-transparent border-0 m-0 p-0" aria-labelledby="submenu1">

                    <a class="dropdown-item" href="../profile/show">User</a>
                    <a class="dropdown-item" href="#">Incomes</a>
                    <a class="dropdown-item" href="#">Expenses</a>
                    <a class="dropdown-item" href="#">Payment methods</a>

                </div>

            </li>
            <li class="nav-item">
                <a href="/logout" class="nav-link">Log out</a>
            </li>
        </ul>
    </div>

</nav>

<section class="container-fluid align-items-center px-0 mb-5 mb-lg-0">
    <div class="row align-items-center justify-content-center">

        <div class="col-md-6 order-1 order-md-1 px-0 mt-2">

            <div class="row justify-content-center mx-0">

                <div id="add-items" class="col-11 mx-1 col-md-12 col-xl-10 mt-2 mt-xl-5">

                    <form method="post" class="p-2 m-2">

                        <h5 class="text-center">Add Expense</h5>

                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i
                                        class="icon-money inputGroup-sizing-lg"></i></span>
                            </div>
                            <input type="number" name="amount" class="form-control form-control-lg" id="inputAmount"
                                step="0.01" placeholder="0.00" value="" aria-label="amount"
                                aria-describedby="basic-addon1">
                        </div>

                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i
                                        class="icon-calendar inputGroup-sizing-lg"></i></span>
                            </div>
                            <input type="date" name="date" class="form-control form-control-lg" id="inputDate"
                                aria-label="date" aria-describedby="basic-addon2">
                        </div>

                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3"><i
                                        class="icon-tags inputGroup-sizing-lg"></i></span>
                            </div>
                            <select class="category form-control form-control-lg" name="category" aria-label="category"
                                aria-describedby="basic-addon3">
                                <option value="" disabled="" selected="" hidden="">-- category--
                                </option>

                            </select>

                        </div>

                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon4"><i
                                        class="icon-credit-card inputGroup-sizing-lg"></i></span>
                            </div>
                            <select class="payment-method form-control form-control-lg" name="payment"
                                aria-label="payment" aria-describedby="basic-addon4">
                                <option value="" disabled="" selected="" hidden="">-- payment method --
                                </option>
                            </select>
                        </div>

                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-comment inputGroup-sizing-lg"></i></span>
                            </div>
                            <textarea class="form-control" name="comment" maxlength="100" rows="2" style="resize: none"
                                aria-label="With textarea"></textarea>
                        </div>

                        <div class="row justify-content-center mt-3 mb-0 mb-lg-2">
                            <input class="add-button btn px-0 py-3 m-2" type="submit" value="Add">
                            <input onclick="window.location.href='../mainmenu/index'"
                                class="cancel-button btn px-0 py-3 btn-secondary m-2" type="button" value="Cancel">
                        </div>


                    </form>

                </div>


            </div>
        </div>
        <div class="col-md-6 order-2 order-md-2 px-0 d-none d-xl-inline  ">

            <img id="mainImg" class="img-fluid rounded" src="/imgs/micheile12.jpg" alt="">

        </div>
    </div>
</section>



{% endblock %}