{% extends "base.html" %}

{% block title %}Forgot password{% endblock %}

{% block body %}


<nav id="mainNavbar" class="account navbar navbar-light navbar-expand-xl pt-1 px-0 fixed-top">
  <a href="#" class="navbar-brand mt-2"><i class="icon-money-2 d-none d-lg-inline "></i>PERSONAL
    BUDGET</a>
</nav>

<!-- add labels -->
<section class="container-fluid px-0 mb-5 mb-lg-0">
  <div class="row align-items-center justify-content-center mt-0 mt-xl-0">

    <div class="col-md-6 order-1 order-md-1 px-0">
      <div class="row justify-content-center mx-0 mt-1">

        <div id="signInForm" class="col-11 mx-1 col-sm-9 col-md-12 col-xl-8 mt-lg-0 mt-xl-5 px-1 px-sm-2">

          <h5 class="text-center mt-4 mb-5">Request password reset</h5>

          {% for message in flash_messages %}
          <div class="text-center alert alert-{{message.type}}">
            {{ message.body }}
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
    <div class="col-md-6 order-2 order-md-2 px-0 d-none d-xl-inline ">
      <!-- Photo by Scott Graham on Unsplash -->
      <img id="mainImg" class="img-fluid rounded" src="/imgs/micheile12.jpg" alt="">

    </div>
  </div>
</section>


{% endblock %}