{% extends "base.html" %}

{% block title %}Balance{% endblock %}

{% block footer %}

<script src="../js/chart.js"></script>
<!-- <script src="../js/balance.js"></script> -->
<!-- <script src="../js/dates.js"></script> -->
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>

<script>

  function compareDate(date_str) {
    let formatDate;
    if (date_str.length == 10) {
      let mon1 = parseInt(date_str.substring(5, 7));
      let dt1 = parseInt(date_str.substring(8, 10));
      let yr1 = parseInt(date_str.substring(0, 4));

      formatDate = new Date(yr1, mon1 - 1, dt1);

    } else {
      let mon1 = parseInt(date_str.substring(6, 8));
      let dt1 = parseInt(date_str.substring(9, 11));
      let yr1 = parseInt(date_str.substring(1, 5));

      formatDate = new Date(yr1, mon1 - 1, dt1);
    }

    return formatDate;
  }

</script>

<script>
  function compareDate(date_str) {
    let formatDate;
    if (date_str.length == 10) {
      let mon1 = parseInt(date_str.substring(5, 7));
      let dt1 = parseInt(date_str.substring(8, 10));
      let yr1 = parseInt(date_str.substring(0, 4));

      formatDate = new Date(yr1, mon1 - 1, dt1);

    } else {
      let mon1 = parseInt(date_str.substring(6, 8));
      let dt1 = parseInt(date_str.substring(9, 11));
      let yr1 = parseInt(date_str.substring(1, 5));

      formatDate = new Date(yr1, mon1 - 1, dt1);
    }

    return formatDate;
  }
</script>


<script>
  $(document).ready(function () {
    $(document).on('click', 'td[data-role=updateExpense]', function () {
      const id = ($(this).data('id'));
      const category = $('#expense-' + id).children('td[data-target=expense-category]').text();
      const amount = $('#expense-' + id).children('td[data-target=expense-amount]').text();
      const date = $('#expense-' + id).children('td[data-target=expense-date]').text();
      const paymentMethod = $('#expense-' + id).children('td[data-target=expense-paymentMethod]').text();
      const comment = $('#expense-' + id).children('td[data-target=expense-comment]').text();

      $('#inputAmount').val(amount);
      $('#selectedDate').val(date);
      $('#category').val(category);
      $('#payment').val(paymentMethod);
      $('#comment').val(comment);
      $('#expenseId').val(id);
      $('#editExpenseModal').modal('toggle');

    });

    $('#expenseSubmit').click(function (event) {
      event.preventDefault();

      const id = $('#expenseId').val();
      const amount = $('#inputAmount').val();
      const date = $('#selectedDate').val();
      const category = $('#category').val();
      const payment = $('#payment').val();
      const comment = $('#comment').val();

      const startDate = document.getElementById('startDate').innerHTML;
      const endDate = document.getElementById('endDate').innerHTML;

      let date_strToDate = compareDate(date);
      let startDate_strToDate = compareDate(startDate);
      let endDate_strToDate = compareDate(endDate);

      $.ajax({
        url: '/expense/updateExpense',
        method: 'POST',
        data: { amount: amount, date: date, category: category, payment: payment, comment: comment, id: id },
        traditional: true,
        success: function (response) {

          if (date_strToDate < startDate_strToDate || date_strToDate > endDate_strToDate) {
            $('#expense-' + id).css('background', 'lightcoral');
            $('#expense-' + id).fadeOut(1000, function () {
              $(this).remove();
            });
          } else {

            $('#expense-' + id).css({ "background-color": "#ffe7c9", "opacity": "0.5" });
            $('#expense-' + id).fadeOut(500, function () {
              $('#expense-' + id).children('td[data-target=expense-amount]').text(parseFloat(amount).toFixed(2));
              $('#expense-' + id).children('td[data-target=expense-date]').text(date);
              $('#expense-' + id).children('td[data-target=expense-category]').text(category);
              $('#expense-' + id).children('td[data-target=expense-paymentMethod]').text(payment);
              $('#expense-' + id).children('td[data-target=expense-comment]').text(comment);
              $(this).fadeIn(0);
              $('#expense-' + id).css({ "background-color": "transparent", "opacity": "1.0" });
            });
          }
          $('#editExpenseModal').modal('toggle');
        }
      });

      $.ajax({
        url: '/balance/updateExpensesSum',
        method: 'POST',
        data: { startDate: startDate, endDate: endDate, category: category },
        traditional: true,
        success: function (response) {

          if (response == 0) {
            $('#expense-' + category).css('background', 'lightcoral');
            $('#expense-' + category).fadeOut(1000, function () {
              $(this).remove();
              if (calculateBalance() != 0) {
                drawPieChart();

              }
            });
          } else {
            $('#expense-' + category).css({ "background-color": "#ffe7c9", "opacity": "0.5" });
            $('#expense-' + category).fadeOut(500, function () {
              $('#expense-' + category).children('td[data-target=expense-sum]').text(response);
              $(this).fadeIn(0);
              $('#expense-' + category).css({ "background-color": "transparent", "opacity": "1.0" });
            });

          }

          if (calculateBalance() != 0) {
            drawPieChart();

          }
        }

      });

    });

  });

</script>

<script>

  $(document).ready(function () {
    $(document).on('click', 'td[data-role=updateIncome]', function () {
      const id = ($(this).data('id'));
      const category = $('#income-' + id).children('td[data-target=income-category]').text();
      const amount = $('#income-' + id).children('td[data-target=income-amount]').text();
      const date = $('#income-' + id).children('td[data-target=income-date]').text();
      const comment = $('#income-' + id).children('td[data-target=income-comment]').text();

      $('#incomeAmount').val(amount);
      $('#selectedIncomeDate').val(date);
      $('#incomeCategory').val(category);
      $('#incomeComment').val(comment);
      $('#incomeId').val(id);
      $('#editIncomeModal').modal('toggle');

    });


    $('#incomeSubmit').click(function (event) {
      event.preventDefault();

      const id = $('#incomeId').val();
      const amount = $('#incomeAmount').val();
      const date = $('#selectedIncomeDate').val();
      const category = $('#incomeCategory').val();
      const comment = $('#incomeComment').val();

      const startDate = document.getElementById('startDate').innerHTML;
      const endDate = document.getElementById('endDate').innerHTML;

      let date_strToDate = compareDate(date);
      let startDate_strToDate = compareDate(startDate);
      let endDate_strToDate = compareDate(endDate);

      $.ajax({
        url: '/income/updateIncome',
        method: 'POST',
        data: { amount: amount, date: date, category: category, comment: comment, id: id },
        traditional: true,
        success: function (response) {

          if (date_strToDate < startDate_strToDate || date_strToDate > endDate_strToDate) {
            $('#income-' + id).css('background', 'lightcoral');
            $('#income-' + id).fadeOut(1000, function () {
              $(this).remove();
            });
          } else {

            $('#income-' + id).css({ "background-color": "#ffe7c9", "opacity": "0.5" });
            $('#income-' + id).fadeOut(500, function () {
              $('#income-' + id).children('td[data-target=income-amount]').text(parseFloat(amount).toFixed(2));
              $('#income-' + id).children('td[data-target=income-date]').text(date);
              $('#income-' + id).children('td[data-target=income-category]').text(category);
              $('#income-' + id).children('td[data-target=income-comment]').text(comment);
              $(this).fadeIn(0);
              $('#income-' + id).css({ "background-color": "transparent", "opacity": "1.0" });
            });


          }
          $('#editIncomeModal').modal('toggle');
        }
      });


      $.ajax({
        url: '/balance/updateIncomesSum',
        method: 'POST',
        data: { startDate: startDate, endDate: endDate, category: category },
        traditional: true,
        success: function (response) {

          if (response == 0) {
            $('#income-' + category).css('background', 'lightcoral');
            $('#income-' + category).fadeOut(1000, function () {
              $(this).remove();
              if (calculateBalance() != 0) {
                drawPieChart();
              }
            });
          } else {
            $('#income-' + category).css({ "background-color": "#ffe7c9", "opacity": "0.5" });
            $('#income-' + category).fadeOut(500, function () {
              $('#income-' + category).children('td[data-target=income-sum]').text(response);
              $(this).fadeIn(0);
              $('#income-' + category).css({ "background-color": "transparent", "opacity": "1.0" });
            });


          }
          if (calculateBalance() != 0) {
            drawPieChart();
          }
        }
      });

    });
  });


</script>

<script>

  $(document).ready(function () {
    $(document).on('click', 'td[data-role=deleteExpense]', function () {
      const id = ($(this).data('id'));
      const category = $('#expense-' + id).children('td[data-target=expense-category]').text();


      bootbox.confirm({
        message: "Do you really want to delete expense?",
        centerVertical: true,
        backdrop: true,
        buttons: {
          confirm: {
            label: '<i class="bi bi-check-lg"></i> Ok',
            className: 'btn modal-select px-0 py-2 m-2'
          },
          cancel: {
            label: '<i class="bi bi-x-lg"></i> Cancel',
            className: 'btn modal-close px-0 py-2 btn-secondary m-2'
          }
        },
        callback: function (result) {
          if (result) {

            $.ajax({
              url: '/expense/deleteExpense',
              type: 'POST',
              data: { id: id },
              success: function (response) {

                if (response) {
                  $('#expense-' + id).css('background', 'lightcoral');
                  $('#expense-' + id).fadeOut(1000, function () {
                    $(this).remove();
                  });

                  const startDate = document.getElementById('startDate').innerHTML;
                  const endDate = document.getElementById('endDate').innerHTML;

                  $.ajax({
                    url: '/balance/updateExpensesSum',
                    method: 'POST',
                    data: { startDate: startDate, endDate: endDate, category: category },
                    traditional: true,
                    success: function (response) {
                      if (response == 0) {
                        $('#expense-' + category).css('background', 'lightcoral');
                        $('#expense-' + category).fadeOut(1000, function () {
                          $(this).remove();
                          if (calculateBalance() != 0) {
                            drawPieChart();

                          }
                        });
                      } else {
                        $('#expense-' + category).children('td[data-target=expense-sum]').text(response);
                      }

                      if (calculateBalance() != 0) {
                        drawPieChart();

                      }
                    }
                  });
                } else {
                  bootbox.alert('Record not deleted.');
                }
              }
            });
          }
        }
      });

    });
  });

</script>

<script>

  $(document).ready(function () {
    $(document).on('click', 'td[data-role=deleteIncome]', function () {
      const id = ($(this).data('id'));
      const category = $('#income-' + id).children('td[data-target=income-category]').text();

      bootbox.confirm({
        message: "Do you really want to delete income?",
        centerVertical: true,
        backdrop: true,
        buttons: {
          confirm: {
            label: '<i class="bi bi-check-lg"></i> Ok',
            className: 'btn modal-select px-0 py-2 m-2'
          },
          cancel: {
            label: '<i class="bi bi-x-lg"></i> Cancel',
            className: 'btn modal-close px-0 py-2 btn-secondary m-2'
          }
        },
        callback: function (result) {
          if (result) {
            $.ajax({
              url: '/income/deleteIncome',
              type: 'POST',
              data: { id: id },
              success: function (response) {
                if (response) {
                  $('#income-' + id).css('background', 'lightcoral');
                  $('#income-' + id).fadeOut(1000, function () {
                    $(this).remove();
                  });

                  const startDate = document.getElementById('startDate').innerHTML;
                  const endDate = document.getElementById('endDate').innerHTML;

                  $.ajax({
                    url: '/balance/updateIncomesSum',
                    method: 'POST',
                    data: { startDate: startDate, endDate: endDate, category: category },
                    traditional: true,
                    success: function (response) {
                      if (response == 0) {
                        $('#income-' + category).css('background', 'lightcoral');
                        $('#income-' + category).fadeOut(1000, function () {
                          $(this).remove();
                          if (calculateBalance() != 0) {
                            drawPieChart();

                          }
                        });
                      } else {
                        $('#income-' + category).children('td[data-target=income-sum]').text(response);
                      }

                      if (calculateBalance() != 0) {
                        drawPieChart();

                      }
                    }
                  });
                } else {
                  bootbox.alert('Record not deleted.');
                }
              }
            });
          }
        }
      });
    });
  });

</script>

{% endblock %}

{% block body %}


<nav id="mainNavbar" class="navbar navbar-light navbar-expand-xl pt-1 px-0">
  <a href="../mainmenu/index" class="navbar-brand"><i class="icon-money-1 d-none d-lg-inline"></i>PERSONAL
    BUDGET</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navLinks">
    <ul class="navbar-nav mt-3">
      <li class="nav-item">
        <a href="../mainmenu/index" class="nav-link"><i class="bi bi-house-fill inputGroup-sizing-lg mr-1"></i>Home</a>
      </li>
      <li class="nav-item">
        <a href="/logout" class="nav-link"><i class="bi bi-box-arrow-right inputGroup-sizing-lg mr-1"></i>Log out</a>
      </li>
    </ul>
  </div>

</nav>

<section class="container-fluid px-0 mx-0">

  <div class="balance-display mx-3 mb-5">
    <div class="row align-items-start justify-content-center mt-3 mt-lg-5">
      <div class="col-12 col-lg-6 balance text-center text-lg-right mt-4">Balance from period: </div>

      <div class="col-12 col-lg-6 balance display-date text-center text-lg-left mt-lg-4">
        <span id='startDate'> {{startDate}} </span>-<span id='endDate'> {{endDate}} </span>

      </div>
    </div>


    <div class="row align-items-start justify-content-center ">

      <div id="expenses" class="line-h col-md-6 order-1 order-md-1 px-0">

        <div class="row justify-content-center mx-0">

          <h2 class="header display-5 p-3 mt-1 mt-lg-5">Expenses</h2>

        </div>

        <div class="row justify-content-center mx-3 mb-1">
          <div class="col-sm-12 col-lg-8">

            <table id="expensesTable" class="table table-hover table-sm">
              <thead class="thead-dark">
                <tr class="text-center">
                  <th scope="col">Category</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
                {% for sumExpensesByCategory in sumExpensesByCategories %}
                <tr id="expense-{{ sumExpensesByCategory.expense_category_name }}">
                  <td data-target="expense-name" class="pl-3">{{ sumExpensesByCategory.expense_category_name }}
                  </td>
                  <td data-target="expense-sum" class="text-center">{{ sumExpensesByCategory.sum_expenses }}</td>
                </tr>
                {% endfor %}

              </tbody>
            </table>



          </div>

        </div>
      </div>

      <div id="incomes" class="line-h col-md-6 order-2 order-md-2 px-0">
        <div class="row justify-content-center mx-0">

          <h2 class="header display-5 p-3 mt-1 mt-lg-5">Incomes</h2>

        </div>
        <div class="row justify-content-center mx-3 mb-1">
          <div class="col-sm-12 col-lg-8">
            <table id="incomesTable" class="table table-hover table-sm">
              <thead class="thead-dark ">
                <tr class="text-center">
                  <th scope="col">Category</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>

                {% for sumIncomesByCategory in sumIncomesByCategories %}
                <tr id="income-{{ sumIncomesByCategory.income_category_name }}">
                  <td data-target="income-name" class="pl-3">{{ sumIncomesByCategory.income_category_name }}</td>
                  <td data-target="income-sum" class="text-center">{{ sumIncomesByCategory.sum_incomes}}</td>
                </tr>
                {% endfor %}


              </tbody>
            </table>


          </div>
        </div>
      </div>
    </div>
    <div class="line-h row align-items-start justify-content-center">
      <h2 class="header display-5 p-3 mt-1 mt-lg-5">Individual expenses</h2>
    </div>

    <div class="row justify-content-center  mx-0 mb-1">
      <div class="col-sm-12 col-lg-10 ">
        <table class="table table-hover table-sm">
          <thead class="thead-dark">
            <tr class="text-center">
              <th scope="col">Category</th>
              <th scope="col">Amount</th>
              <th scope="col">Date</th>
              <th scope="col">Payment method</th>
              <th scope="col">Comment</th>
              <th scope="col" style="width: 5%"></th>
              <th scope="col" style="width: 5%"></th>
            </tr>
          </thead>
          <tbody>

            {% for individualExpense in individualExpenses %}
            <tr id="expense-{{individualExpense.id}}">
              <td data-target="expense-category" class="pl-3">{{ individualExpense.expense_category_name }}</td>
              <td data-target="expense-amount" class="text-center">{{ individualExpense.amount }}</td>
              <td data-target="expense-date" class="text-center">{{ individualExpense.date_of_expense }}</td>
              <td data-target="expense-paymentMethod" class="text-center">{{ individualExpense.payment }}</td>
              <td data-target="expense-comment" class="comment">{{ individualExpense.expense_comment }}</td>
              <td data-role="updateExpense" data-id="{{individualExpense.id}}"><i
                  class="justify-content-center input-group-append bi bi-pencil-square inputGroup-sizing-lg mt-2"></i>
              </td>
              <td data-role="deleteExpense" data-id="{{individualExpense.id}}"><i
                  class="justify-content-center input-group-append bi bi-trash inputGroup-sizing-lg mt-2"></i>
              </td>
            </tr>
            {% endfor %}

          </tbody>
        </table>

        <!-- modal -->
        <div id="editExpenseModal" class="modal fade custom" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Edit expense</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form action="" method="post" class="p-2 m-2">
                <div class="modal-body">
                  <div class="input-group mt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i
                          class="icon-money inputGroup-sizing-lg"></i></span>
                    </div>
                    <input type="number" name="amount" class="form-control form-control-lg" id="inputAmount" step="0.01"
                      placeholder="0.00" value="" aria-label="amount" aria-describedby="basic-addon1">
                  </div>

                  <span class="errors">{{ expense.errors.amount }}</span>

                  <div class="input-group mt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon2"><i
                          class="icon-calendar inputGroup-sizing-lg"></i></span>
                    </div>
                    <input type="date" name="date" class="form-control form-control-lg" id="selectedDate"
                      aria-label="date" aria-describedby="basic-addon2">
                  </div>

                  <span class="errors">{{ expense.errors.date }}</span>

                  <div class="input-group mt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3"><i
                          class="icon-tags inputGroup-sizing-lg"></i></span>
                    </div>
                    <select id="category" class="category form-control form-control-lg" name="category"
                      aria-label="category" aria-describedby="basic-addon3">
                      <option value="" disabled="" selected="" hidden="">-- category--
                      </option>

                      {% for expenseCategory in expensesCategory %}
                      <option>{{ expenseCategory.name }}</option>
                      {% endfor %}
                      <option>Another</option>
                    </select>
                  </div>

                  <span class="errors">{{ expense.errors.category }}</span>

                  <div class="input-group mt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon4"><i
                          class="icon-credit-card inputGroup-sizing-lg"></i></span>
                    </div>
                    <select id="payment" class="payment-method form-control form-control-lg" name="payment"
                      aria-label="payment" aria-describedby="basic-addon4">
                      <option value="" disabled="" selected="" hidden="">-- payment method --
                      </option>

                      {% for paymentMethod in paymentMethods %}
                      <option>{{ paymentMethod.name }}</option>
                      {% endfor %}
                      <option>Another</option>

                    </select>
                  </div>

                  <span class="errors">{{ expense.errors.payment }}</span>

                  <div class="input-group mt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-comment inputGroup-sizing-lg"></i></span>
                    </div>
                    <textarea id="comment" class="form-control" name="comment" maxlength="100" rows="2"
                      style="resize: none" aria-label="With textarea"></textarea>
                  </div>

                  <span class="errors">{{ expense.errors.comment }}</span>

                  {% for message in flash_messages %}
                  <div class="mt-3 text-center alert alert-{{message.type}}">
                    {{ message.body }}
                  </div>
                  {% endfor %}

                  <input type="hidden" id="expenseId" name="expenseId" class="form-control">
                </div>
                <div class="modal-footer">
                  <div class="row justify-content-center mt-3 mb-0 mb-lg-2">
                    <input class=" modal-close btn px-0 py-2 btn-secondary m-2" type="button" value="Cancel"
                      data-dismiss="modal">
                    <input id="expenseSubmit" class="modal-select btn px-0 py-2 m-2" type="submit" value="Update">
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- end of modal -->

      </div>
    </div>

    <div class=" line-h row align-items-start justify-content-center">
      <h2 class="header display-5 p-3 mt-1 mt-lg-5">Individual incomes</h2>
    </div>
    <div class="row justify-content-center mx-0 mb-1">
      <div class="col-sm-12 col-lg-10">
        <table class="table table-hover table-sm">
          <thead class="thead-dark">
            <tr class="text-center">
              <th scope="col">Category</th>
              <th scope="col">Amount</th>
              <th scope="col">Date</th>
              <th scope="col">Comment</th>
              <th scope="col" style="width: 5%"></th>
              <th scope="col" style="width: 5%"></th>
            </tr>
          </thead>
          <tbody>

            {% for individualIncome in individualIncomes %}
            <tr id="income-{{individualIncome.id}}">
              <td data-target="income-category" class="pl-3">{{ individualIncome.income_category_name }}</td>
              <td data-target="income-amount" class="text-center">{{ individualIncome.amount }}</td>
              <td data-target="income-date" class="text-center">{{ individualIncome.date_of_income }}</td>
              <td data-target="income-comment" class="comment">{{ individualIncome.income_comment }}</td>
              <td data-role="updateIncome" data-id="{{individualIncome.id}}"><i
                  class="justify-content-center input-group-append bi bi-pencil-square inputGroup-sizing-lg mt-2"></i>
              </td>
              <td data-role="deleteIncome" data-id="{{individualIncome.id}}"><i
                  class="justify-content-center input-group-append bi bi-trash inputGroup-sizing-lg mt-2"></i>
              </td>
            </tr>
            {% endfor %}

          </tbody>
        </table>

        <!-- modal -->
        <div id="editIncomeModal" class="modal fade custom" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Edit income</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form action="" method="post" class="p-2 m-2">
                <div class="modal-body">
                  <div class="input-group mt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i
                          class="icon-money inputGroup-sizing-lg"></i></span>
                    </div>
                    <input type="number" name="amount" class="form-control form-control-lg" id="incomeAmount"
                      step="0.01" placeholder="0.00" value="" aria-label="amount" aria-describedby="basic-addon1">
                  </div>

                  <span class="errors">{{ income.errors.amount }}</span>

                  <div class="input-group mt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon2"><i
                          class="icon-calendar inputGroup-sizing-lg"></i></span>
                    </div>
                    <input type="date" name="date" class="form-control form-control-lg" id="selectedIncomeDate"
                      aria-label="date" aria-describedby="basic-addon2">
                  </div>

                  <span class="errors">{{ income.errors.date }}</span>

                  <div class="input-group mt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3"><i
                          class="icon-tags inputGroup-sizing-lg"></i></span>
                    </div>
                    <select id="incomeCategory" class="category form-control form-control-lg" name="category"
                      aria-label="category" aria-describedby="basic-addon3">
                      <option value="" disabled="" selected="" hidden="">-- category--
                      </option>

                      {% for incomeCategory in incomesCategory %}
                      <option>{{ incomeCategory.name }}</option>
                      {% endfor %}
                      <option>Another</option>
                    </select>
                  </div>

                  <span class="errors">{{ income.errors.category }}</span>

                  <div class="input-group mt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-comment inputGroup-sizing-lg"></i></span>
                    </div>
                    <textarea id="incomeComment" class="form-control" name="comment" maxlength="100" rows="2"
                      style="resize: none" aria-label="With textarea"></textarea>
                  </div>

                  <span class="errors">{{ income.errors.comment }}</span>

                  {% for message in flash_messages %}
                  <div class="mt-3 text-center alert alert-{{message.type}}">
                    {{ message.body }}
                  </div>
                  {% endfor %}

                  <input type="hidden" id="incomeId" name="incomeId" class="form-control">
                </div>
                <div class="modal-footer">
                  <div class="row justify-content-center mt-3 mb-0 mb-lg-2">

                    <input class="modal-close btn px-0 py-2 btn-secondary m-2" type="button" value="Cancel"
                      data-dismiss="modal">
                    <input id="incomeSubmit" class="modal-select btn px-0 py-2 m-2" type="submit" value="Update">
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- end of modal -->

      </div>
    </div>
    <div class="line-h row align-items-start justify-content-center">
      <h2 id="balance" class="header balance display-5 p-3 my-2 mb-1"></h2>

      <div id="myChart" class="mx-5" style="height: 450px; width: 100%;"></div>
    </div>
  </div>
</section>




{% endblock %}