{% extends "base.html" %}

{% block title %}Incomes Categories{% endblock %}

{% block footer %}

<script>

  $(document).ready(function () {

    $('#newIncome').on('click', function () {

      bootbox.prompt({
        title: "Add new category",
        placeholder: "Enter a name of the new category:",
        centerVertical: true,
        backdrop: true,
        inputType: 'text',
        required: true,
        buttons: {
          confirm: {
            label: '<i class="bi bi-check-lg"></i> Add',
            className: 'btn modal-select px-0 py-2 m-2'
          },
          cancel: {
            label: '<i class="bi bi-x-lg"></i> Cancel',
            className: 'btn modal-close px-0 py-2 btn-secondary m-2'
          }
        },
        callback: function (result) {

          const category = $('.bootbox-input-text').val();

          if (result) {
            $.ajax({
              url: '/settings/addNewIncomeCategory',
              type: 'POST',
              data: { category: category },
              success: function (response) {
                if (response) {
                  newRow = '<tr id="' + response + '"><td class="pl-3" data-target="income-category">' + category + '</td>' +
                    '<td data-role="updateCategory" data-id="' + response + '"><i class="justify-content-center input-group-append bi bi-pencil-square inputGroup-sizing-lg mt-2"></i></td>' +
                    '<td data-role="deleteCategory" data-id="' + response + '"><i class="justify-content-center input-group-append bi bi-trash inputGroup-sizing-lg mt-2"></i></td></tr>'
                  $('table tbody').append(newRow);
                } else {
                  bootbox.alert({
                    message: '<i class="bi bi-exclamation-square pr-2"></i>Category already exists!',
                    centerVertical: true,
                    backdrop: true,
                  });
                }
              }
            });
          }
        }
      });
    });
  });

</script>

<script>

  $(document).ready(function () {
    $(document).on('click', 'td[data-role=deleteCategory]', function () {
      const id = ($(this).data('id'));
      const category = $(this).closest('tr').children('td:first').text();

      bootbox.confirm({
        message: "Do you really want to delete expense?",
        centerVertical: true,
        backdrop: true,
        buttons: {
          confirm: {
            label: '<i class="bi bi-check-lg"></i> Ok',
            className: 'btn modal-select px-0 py-2 m-2'
          },
          cancel: {
            label: '<i class="bi bi-x-lg"></i> Cancel',
            className: 'btn modal-close px-0 py-2 btn-secondary m-2'
          }
        },
        callback: function (result) {
          if (result) {

            $.ajax({
              url: '/settings/deleteIncomeCategory',
              type: 'POST',
              data: { category: category },
              success: function (response) {

                if (response) {
                  $('#' + id).css('background', 'lightcoral');
                  $('#' + id).fadeOut(1000, function () {
                    $(this).remove();
                  });
                  bootbox.alert({
                    message: '<i class="bi bi-exclamation-square pr-2"></i>Incomes in this category have been moved to the "Another"!',
                    centerVertical: true,
                    backdrop: true,
                  });
                } else {
                  bootbox.alert('Record not deleted.');
                }
              }
            });
          }
        }
      });

    });
  });
</script>


<script>

  $(document).ready(function () {
    $(document).on('click', 'td[data-role=updateCategory]', function () {
      const id = ($(this).data('id'));
      const category = $(this).closest('tr').children('td:first').text();

      $('#incomeCategoryId').val(id);
      $('#incomeCategory').val(category);
      $('#updateCategoryModal').modal('toggle');
    });


    $('#updateCategory').click(function (event) {
      event.preventDefault();

      const category = $('#incomeCategory').val();
      const id = $('#incomeCategoryId').val();


      $.ajax({
        url: '/settings/updateIncomeCategory',
        method: 'POST',
        data: { category: category, id: id },
        traditional: true,
        success: function (response) {

          if (response) {

            $('#' + id).css({ "background-color": "#ffe7c9", "opacity": "0.5" });
            $('#' + id).fadeOut(500, function () {
              // $('#' + id).children('td[data-target=income-category]').text(category);
              $('#' + id).children('td[data-target=income-category]').text(category);
              $(this).fadeIn(0);
              $('#' + id).css({ "background-color": "transparent", "opacity": "1.0" });
            });

          } else {
            bootbox.alert({
              message: '<i class="bi bi-exclamation-square pr-2"></i>Category already exists!',
              centerVertical: true,
              backdrop: true,
            });
          }
          $('#updateCategoryModal').modal('toggle');
        }
      });

    });
  });

</script>


{% endblock %}
{% block body %}

<nav id="mainNavbar" class="navbar navbar-light navbar-expand-xl pt-1 px-0">
  <a href="../mainmenu/index" class="navbar-brand"><i class="icon-money-1 d-none d-lg-inline"></i>PERSONAL
    BUDGET</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navLinks">
    <ul class="navbar-nav mt-3">
      <li class="nav-item">
        <a href="../mainmenu/index" class="nav-link"><i class="bi bi-house-fill inputGroup-sizing-lg mr-1"></i>Home</a>
      </li>
      <li class="nav-item">
        <a href="/logout" class="nav-link"><i class="bi bi-box-arrow-right inputGroup-sizing-lg mr-1"></i>Log out</a>
      </li>
    </ul>
  </div>

</nav>
<section class="container-fluid px-0 mb-5 mb-lg-0">
  <div class="row align-items-center justify-content-center mt-2 mt-xl-4">

    <div id="settings" class="col-11 col-md-10 col-lg-8 col-xl-6 mt-2 mt-md-4 px-1 px-sm-2 mb-5">

      <div id="headingGroup" class="text-center mt-3 mb-2">Incomes Categories</div>

      {% for message in flash_messages %}
      <div class="text-center alert alert-{{message.type}}">
        {{ message.body }}
      </div>
      {% endfor %}

      <div class="row justify-content-center mx-3 mb-1">
        <div class="col-12 px-0">
          <div class="row justify-content-center mx-3 mb-1">

            <table id="categoryIncome" class="table table-hover table-sm">
              <thead class="thead-dark">
                <tr class="text-center">
                  <th scope="col" style="width: 90%">Category</th>
                  <th scope="col" style="width: 5%"></th>
                  <th scope="col" style="width: 5%"></th>
                </tr>
              </thead>
              <tbody>
                {% for incomesCategory in incomesCategories %}
                <tr id="{{ incomesCategory.id }}">
                  <td class="pl-3" data-target="income-category">{{ incomesCategory.name }}</td>
                  <td data-role="updateCategory" data-id="{{incomesCategory.id}}"><i
                      class="justify-content-center input-group-append bi bi-pencil-square inputGroup-sizing-lg mt-2"></i>
                  </td>
                  <td data-role="deleteCategory" data-id="{{incomesCategory.id}}"><i
                      class="justify-content-center input-group-append bi bi-trash inputGroup-sizing-lg mt-2"></i>
                  </td>
                  <!-- <td class="text-center">{{ sumExpensesByCategory.sum_expenses }}</td> -->
                </tr>
                {% endfor %}

              </tbody>
            </table>

            <button id="newIncome" type="button" class="justify-content-center btn main-button py-3 mb-2 px-0"><i
                class="bi bi-folder-plus mx-1 px-1"></i>Add
              new</button>
          </div>

          <!-- modal -->
          <div id="updateCategoryModal" class="modal fade custom" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Edit category</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="" method="post" class="mx-2 mb-2">
                  <div class="modal-body">

                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3"><i
                            class="icon-tags inputGroup-sizing-lg"></i></span>
                      </div>
                      <input type="text" name="category" class="form-control form-control-lg" id="incomeCategory"
                        value="" aria-label="category" aria-describedby="basic-addon1">
                    </div>

                    <span class="errors">{{ income.errors.category }}</span>

                    {% for message in flash_messages %}
                    <div class="mt-3 text-center alert alert-{{message.type}}">
                      {{ message.body }}
                    </div>
                    {% endfor %}
                    <input type="hidden" id="incomeCategoryId" name="incomeCategoryId" class="form-control">

                  </div>
                  <div class="modal-footer">
                    <div class="row justify-content-center mt-3 mb-0 mb-lg-2">

                      <input class="modal-close btn px-0 py-2 btn-secondary m-2" type="button" value="Cancel"
                        data-dismiss="modal">
                      <input id="updateCategory" class="modal-select btn px-0 py-2 m-2" type="submit" value="Update">
                    </div>

                  </div>
                </form>
              </div>
            </div>
          </div>
          <!--  -->


        </div>

      </div>
    </div>

  </div>
  <!-- </div> -->

  </div>
</section>



{% endblock %}