{% extends "base.html" %}

{% block title %}Sign in{% endblock %}

{% block body %}


<nav id="mainNavbar" class="account navbar navbar-light navbar-expand-xl pt-1 px-0 fixed-top">
    <a href="../home/index" class="navbar-brand mt-2"><i class="icon-money-1 d-none d-lg-inline "></i>PERSONAL
        BUDGET</a>
</nav>

<!-- add labels -->
<section class="container-fluid px-0 mb-5 mb-lg-0">
    <div class="row align-items-center justify-content-center mt-0 mt-xl-0">

        <div class="col-md-10 col-lg-8 col-xl-6 mt-3 order-1 order-md-1 px-0">
            {% for message in flash_messages %}
            <div class="text-center alert alert-{{message.type}}">
                {{ message.body }}
            </div>
            {% endfor %}
            <div class="row justify-content-center mx-0 mt-1 mb-3">

                <div id="signInForm" class="col-10 mx-1 col-sm-9 mt-5 px-1 px-sm-2 mb-5">

                    <form class="p-3" action="/login/create" method="post">
                        <div id="headingGroup">Login</div>
                        <!-- <label class="labels" for="emailAddress">Email</label> -->
                        <div class="input-group mb-2 mb-lg-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i
                                        class="icon-mail-alt inputGroup-sizing-lg"></i></span>
                            </div>
                            <input class="form-control form-control-lg" type="email" name="email" id="emailAddress"
                                placeholder="Email address" onfocus="this.placeholder=''"
                                onblur="this.placeholder='Email address'" value=" {{ email }}">
                        </div>
                        <!-- <label class="labels" for="inputPassword">Password</label> -->
                        <div class="input-group mb-2 mb-lg-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i
                                        class="icon-key inputGroup-sizing-lg"></i></span>
                            </div>
                            <input id="inputPassword" class="form-control form-control-lg" type="password"
                                name="password" placeholder="Password" onfocus="this.placeholder=''"
                                onblur="this.placeholder='Password'" name="password">

                        </div>

                        <div class="form-group remember py-1">
                            <label for="rememberMe">
                                <input id="rememberMe" type="checkbox" name="remember_me" class="m-1" {% if remember_me
                                    %} checked="checked" {% endif %} />Remember me
                            </label>
                        </div>

                        <div class="row justify-content-center">
                            <input type="submit" class="btn main-button px-0 py-3" value="Sign in">
                        </div>
                        <div class="change mt-1"> Have no account yet?
                            <a href="/signup" class="link"> Sign up!</a>
                        </div>
                        <div class="forgotPassword">
                            <a href="/password/forgot" class="link"> Forgot password? </a>
                        </div>

                    </form>

                </div>
            </div>


        </div>
        <div class="col-md-6 order-2 order-md-2 px-0 d-none d-xl-inline ">
            <!-- Photo by Scott Graham on Unsplash -->
            <img id="mainImg" class="img-fluid rounded" src="/imgs/micheile12.jpg" alt="">

        </div>
    </div>
</section>





{% endblock %}