{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block footer %}


<script src="/js/hideShowPassword.min.js"></script>
<script src="/js/app.js"></script>

<script>

    $(document).ready(function () {

        var userId = '{{ user.id }}';
        /**
         * Validate the form
         */
        $('#formProfile').validate({
            rules: {
                login: 'required',
                // email: {
                //     required: true,
                //     email: true,
                //     remote: {
                //         url: '/account/validate-email',
                //         data: {
                //             ignore_id: function () {
                //                 return userId;
                //             }
                //         }
                //     }
                // },
            },
            // messages: {
            //     email: {
            //         remote: 'There is already an account associated with this email address'
            //     }
            // },
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());

            }

        });

    });

</script>

{% endblock %}


{% block body %}

<!-- {% if user.errors is not empty %}
<p> Errors: </p>
<ul>
    {%for error in user.errors %}
    <li>{{ error}}</li>
    {% endfor %}
</ul>

{% endif %} -->


<nav id="mainNavbar" class="account navbar navbar-light navbar-expand-xl pt-1 px-0 fixed-top">
    <a href="../mainmenu/index" class="navbar-brand mt-2"><i class="icon-money-1 d-none d-lg-inline "></i>PERSONAL
        BUDGET</a>
</nav>

<section class="container-fluid px-0 mb-5 mb-lg-0">
    <div class="row align-items-center justify-content-center mt-0 mt-xl-0">

        <div class="col-md-10 col-lg-8 col-xl-6 mt-3 order-1 order-md-1 px-0">

            <div class="row justify-content-center mx-0 mt-1">

                <div id="profileEdit" class="col-10 mx-1 col-sm-9 mt-md-4 px-1 px-sm-2 mb-5">

                    <form method="post" action="/profile/update-name" class="p-3" id="formProfile">
                        <div id="headingGroup" class="text-center mt-3 mb-5">Change name</div>
                        <div class=" input-group mt-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i
                                        class="icon-user inputGroup-sizing-lg"></i></span>
                            </div>
                            <input class="form-control form-control-lg" type="text" placeholder="Name"
                                onfocus="this.placeholder=''" onblur="this.placeholder='Name'" name="login"
                                value="{{user.login}}">
                        </div>
                        <span id="login-error" class="errors">{{user.errors.login}}</span>

                        <!-- <div class="input-group my-lg-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i
                                        class="icon-mail-alt inputGroup-sizing-lg"></i></span>
                            </div>
                            <input class="form-control form-control-lg" type="text" placeholder="Email address"
                                onfocus="this.placeholder=''" onblur="this.placeholder='Email address'" name="email"
                                value="{{user.email}}">
                        </div>
                        <div id="email-error">
                            <span class="errors">{{user.errors.email}}</span>
                        </div> -->

                        <!-- <div class="input-group my-2 my-lg-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3"><i
                                        class="icon-key inputGroup-sizing-lg"></i></span>
                            </div>
                            <input id="inputPassword" class="form-control form-control-lg" type="password"
                                name="password" placeholder="Password" onfocus="this.placeholder=''"
                                onblur="this.placeholder='Password'" name="password">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon4"><i
                                        class="bi bi-eye-slash inputGroup-sizing-lg"
                                        onclick="showPwd('inputPassword',this)"></i></span>
                            </div>
                        </div>
                        <div>
                            <span id="password-error" class="errors">{{user.errors.password}}</span>
                        </div> -->

                        <div class="row justify-content-center mt-3">
                            <input type="submit" class="btn main-button px-0 py-3 m-2" value="Save">
                            <input onclick="window.location.href='/profile/show'"
                                class="cancel-button btn px-0 py-3 btn-secondary m-2" type="button" value="Cancel">
                        </div>
                    </form>

                </div>

            </div>
        </div>
        <div class="col-md-6 order-2 order-md-2 px-0 d-none d-xl-inline  ">
            <img id="mainImg" class="img-fluid rounded" src="/imgs/micheile12.jpg" alt="">

        </div>
    </div>
</section>


{% endblock %}