{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}

<nav id="mainNavbar" class="account navbar navbar-light navbar-expand-xl pt-1 px-0 fixed-top">
  <a href="../home/index" class="navbar-brand mt-2"><i class="icon-money-1 d-none d-lg-inline "></i>PERSONAL
    BUDGET</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navLinks">
    <ul class="navbar-nav mt-3">
      <li class="nav-item">
        <a href="../mainmenu/index" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="../expense/index" class="nav-link">Add expense</a>
      </li>
      <li class="nav-item">
        <a href="../income/index" class="nav-link">Add income</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle caret-off" href="#" data-toggle="dropdown" role="button" id="submenu"
          aria-expanded="false" aria-haspopup="true">Balance</a>

        <div class="dropdown-menu bg-transparent border-0 m-0 p-0" aria-labelledby="submenu">

          <a class="dropdown-item " href="#">Current month</a>
          <a class="dropdown-item " href="#">Previous month</a>
          <a class="dropdown-item " href="#">Current year</a>
          <a class="dropdown-item " href="#">Custom</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle caret-off" href="#" data-toggle="dropdown" role="button" id="submenu1"
          aria-expanded="false" aria-haspopup="true">Settings</a>

        <div class="dropdown-menu bg-transparent border-0 m-0 p-0" aria-labelledby="submenu1">

          <a class="dropdown-item" href="../profile/show">User</a>
          <a class="dropdown-item" href="#">Incomes</a>
          <a class="dropdown-item" href="#">Expenses</a>
          <a class="dropdown-item" href="#">Payment methods</a>

        </div>

      </li>
      <li class="nav-item">
        <a href="/logout" class="nav-link">Log out</a>
      </li>
    </ul>
  </div>

</nav>
<section class="container-fluid px-0 mb-5 mb-lg-0">
  <div class="row align-items-center justify-content-center mt-0 mt-xl-0">

    <div class="col-md-6 order-1 order-md-1 px-0">

      <div class="row justify-content-center mx-0 mt-1">

        <div id="showProfile" class="col-11 mx-1 col-sm-9 col-md-12 col-xl-8 mt-lg-0 mt-xl-5 px-1 px-sm-2">

          <h1 class="text-center mt-4 mb-5">Profile</h1>

          {% for message in flash_messages %}
          <div class="text-center alert alert-{{message.type}}">
            {{ message.body }}
          </div>
          {% endfor %}

          <div class="row justify-content-center mx-3 mb-1">
            <div class="col-12">

              <table class="table table-hover table-sm">
                <tbody>
                  <tr>
                    <td>Name</td>
                    <td class="text-right">{{ user.login }}</td>
                    <td scope="col-2" class="text-center"><i
                        class="input-group-append bi bi-pencil-square inputGroup-sizing-lg mt-2"
                        onclick="window.location.href='../profile/edit'"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td class=" text-right">{{ user.email }}</td>
                    <td class="text-center"><i class="input-group-append bi bi-pencil-square inputGroup-sizing-lg mt-2"
                        onclick="window.location.href='../profile/edit'"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Password</td>
                    <td></td>
                    <td class="text-center"><i class="input-group-append bi bi-pencil-square inputGroup-sizing-lg mt-2"
                        onclick="window.location.href='../profile/change-password'"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-6 order-2 order-md-2 px-0 d-none d-xl-inline  ">
      <img id="mainImg" class="img-fluid rounded" src="/imgs/micheile12.jpg" alt="">

    </div>
  </div>
</section>



{% endblock %}