{% extends "base.html" %}

{% block title %}Add income{% endblock %}

{% block body %}

<nav id="mainNavbar" class="add navbar navbar-light navbar-expand-xl pt-1 px-0 fixed-top">
    <a href="../mainmenu/index" class="navbar-brand"><i class="icon-money-1 d-none d-lg-inline"></i>PERSONAL BUDGET</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navLinks">
        <ul class="navbar-nav mt-3">
            <li class="nav-item">
                <a href="../mainmenu/index" class="nav-link"><i
                        class="bi bi-house-fill inputGroup-sizing-lg mr-1"></i>Home</a>
            </li>

            <li class="nav-item">
                <a href="/logout" class="nav-link"><i class="bi bi-box-arrow-right inputGroup-sizing-lg mr-1"></i>Log
                    out</a>
            </li>
        </ul>
    </div>

</nav>

<section class="container-fluid px-0 mb-5 mb-lg-0">
    <div class="row align-items-center justify-content-center">

        <div class="col-md-10 col-lg-8 col-xl-6 mt-3 order-1 order-md-1 px-0 mt-2">

            <div class="row justify-content-center mx-0">

                <div id="add-items" class="col-10 mx-1 col-sm-9 mt-5 px-1 px-sm-2 mb-5">

                    <form method="post" action="/income/add" class="p-2 m-2">

                        <div id="headingGroup">Add income</div>

                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i
                                        class="icon-money inputGroup-sizing-lg"></i></span>
                            </div>
                            <input type="number" name="amount" class="form-control form-control-lg" id="inputAmount"
                                step="0.01" placeholder="0.00" min="0.01" value="{{ income.amount }}"
                                aria-label="amount" aria-describedby="basic-addon1">
                        </div>

                        <span class="errors">{{ income.errors.amount }}</span>


                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i
                                        class="icon-calendar inputGroup-sizing-lg"></i></span>
                            </div>
                            <input type="date" name="date" class="form-control form-control-lg" id="todayDate"
                                value="{{ income.date }}" aria-label="date" aria-describedby="basic-addon2">
                        </div>
                        <span class="errors">{{ income.errors.date }}</span>

                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3"><i
                                        class="icon-tags inputGroup-sizing-lg"></i></span>
                            </div>
                            <select class="income form-control form-control-lg" name="category" value=""
                                aria-label="income" aria-describedby="basic-addon3">
                                <option value="" disabled="" selected="" hidden="">-- income --
                                </option>
                                {% for incomeCategory in incomesCategory %}
                                <option>{{ incomeCategory.name }}</option>
                                {% endfor %}

                            </select>
                        </div>

                        <span class="errors">{{ income.errors.category }}</span>

                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-comment"
                                        id="inputGroup-sizing-lg"></i></span>
                            </div>
                            <textarea class="form-control" name="comment" rows="2" value="{{ income.comment }}"
                                style="resize: none" aria-label="With textarea"></textarea>
                        </div>

                        <span class="errors">{{ income.errors.comment }}</span>


                        {% for message in flash_messages %}
                        <div class="mt-3 text-center alert alert-{{message.type}}">
                            {{ message.body }}
                        </div>
                        {% endfor %}


                        <div class="row justify-content-center mt-3 mb-0 mb-lg-2">
                            <input class="add-button btn px-0 py-3 m-2" type="submit" value="Add">
                            <input onclick="window.location.href='../mainmenu/index'"
                                class="cancel-button btn px-0 py-3 btn-secondary m-2" type="button" value="Cancel">
                        </div>


                    </form>

                </div>


            </div>
        </div>
        <div class="col-md-6 order-2 order-md-2 px-0 d-none d-xl-inline  ">

            <img id="mainImg" class="img-fluid rounded" src="/imgs/micheile12.jpg" alt="">

        </div>
    </div>
</section>

<script src="../js/dates.js"></script>


{% endblock %}